<?xml version="1.0" ?>
<launch>
  <arg name="path" default="aep_mine/stl" />
  <arg name="param_file" default="$(find stl_exploration)/config/$(arg path).yaml" />

  <group ns="stl_aeplanner">
    <node pkg="tf2_ros" type="static_transform_publisher" name="primesense_broadcaster" args="0.05 0 0.13 -1.57079633 0 -1.57079633 base_link velodyne_link" />
    
    <include file="$(find stl_aeplanner)/launch/stl_aeplanner_nodelet.launch"/>
    <include file="$(find stl_exploration)/launch/fly_to.launch"/>
    <include file="$(find stl_exploration)/launch/octomap_server_velodyne.launch"/>
    <include file="$(find stl_frontier_planner)/launch/stl_frontier_planner.launch">
      <arg name="path" value="$(arg path)" />
      <arg name="param_file" value="$(arg param_file)" />
    </include>
    <include file="$(find pigain)/launch/pig_cpp.launch" />

    <node name="stl_exploration" pkg="stl_exploration" type="stl_exploration" output="screen" />
    <rosparam command="load" file="$(arg param_file)" />
  </group>

  <node pkg="stl_evaluation" type="stl_evaluation_node" name="stl_evaluation_node" output="screen" required="true">
    <rosparam command="load" file="$(arg param_file)" />
  </node>

  <node pkg="stl_exploration" type="transformer.py" name="transformer" output="screen"/>

</launch>
